# termite as a native Wayland app doesn't support --class argument
# so we need to rely on title to make most rules

# display monitor as floating window
for_window [title="sway_monitor"] floating enable, \
                                  resize set width 60 ppt height 70 ppt

# display launcher as floating window
for_window [title="sway_launcher"] floating enable, \
                                   resize set width 30 ppt height 30 ppt

# display command input as floating window above top bar
for_window [title="sway_command_input"] floating enable, \
                                        border none, \
                                        resize set width 100 ppt height 30 px, \
                                        move position 0 0, \
                                        move up 30 px

# assign music window to scratchpad
for_window [title="sway_music"] floating enable, \
                                resize set width 60 ppt height 70 ppt, \
                                move scratchpad
