[mysql]
prompt = "\\u@\\h \\d\\n> "
pager = less --ignore-case --line-numbers --quit-if-one-screen --chop-long-lines --no-init

[client_mycli]
pager = less --ignore-case --line-numbers --quit-if-one-screen --chop-long-lines --no-init
