QTabBar {
    background-color: #002b36;
    alignment: center;
    icon-size: 0px;
    border-bottom: 1px solid #859900;
}
QTabBar::tab {
    font-size: 14px;
    font-family: "Source Code Pro";
    height: 22px;
    border: 0px;
    padding: 0px;
    color: #839496;
}
QTabBar::tab:selected {
    background-color: #859900;
    color: #002b36;
}
QTabBar::tab:hover:!selected {
    color: #859900;
}
