# display monitor as floating window
for_window [title="sway_monitor"] floating enable, \
                                  resize set width 60 ppt height 70 ppt

# display quick command as floating window
for_window [title="sway_quick_command"] floating enable, \
                                        resize set width 40 ppt height 40 ppt
for_window [title="TODO"] floating enable, \
                          resize set width 40 ppt height 40 ppt

# display media apps as floating window
for_window [app_id="imv"] floating enable, border pixel 2
for_window [app_id="mpv"] floating enable

for_window [title="Adobe Digital Editions"] floating enable
for_window [app_id="takang"] floating enable
for_window [instance="gcr-prompter"] border pixel 2
