* {
  font-family: sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: #{color/background/hex};
  color: #{color/foreground/hex};
}

#custom-webcam,
#custom-bluetooth,
#custom-pomodoro,
#custom-time-tracker,
#custom-chat,
#custom-do-not-disturb,
#workspaces button,
#mode,
#mpd,
#pulseaudio,
#network,
#battery,
#clock {
  padding: 2px 6px;
}

#workspaces button {
  color: #{color/foreground/hex};
  transition: none;
}

/* disable the default effects */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #{color/background/hex};
}

#workspaces button.focused {
  background-color: #{color/base09/hex};
  color: #{color/base00/hex};
}

#workspaces button.urgent {
  color: #{color/notice/hex};
}

#mode {
  color: #{color/notice/hex}
}

#custom-bluetooth,
#custom-chat,
#mpd,
#pulseaudio,
#network,
#battery {
  /* icons only (almost) */
  color: #{color/base09/hex};
}

#pulseaudio.muted {
  color: #{color/notice/hex};
}

#pulseaudio.capture {
  color: #{color/notice/hex};
}

#custom-webcam {
  color: #{color/notice/hex};
}

#network.linked,
#network.disconnected {
  color: #{color/warning/hex};
}

#battery.critical:not(.charging) {
  color: #{color/alert/hex};
}

#battery.warning:not(.charging) {
  color: #{color/warning/hex};
}

#custom-do-not-disturb.enabled {
  color: #{color/notice/hex};
}

#custom-do-not-disturb.disabled {
  color: #{color/base0C/hex};
}

#custom-chat.count {
  color: #{color/notice/hex};
}

#custom-pomodoro,
#custom-time-tracker {
  color: #{color/base09/hex};
}
