[Unit]
Description=UPower-powered power alerter
Documentation=man:poweralertd(1)
PartOf=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/poweralertd -s -i mouse -i 'line power'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
